body {
  font-family: Arial, sans-serif;
  background-color: #51686b;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* #start-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

#start-game {
    width: 420px;
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
}

.turn {
    display: none;
}

.turn.active {
    display: block;
}

#player-name {
    margin: 200px auto 20px auto;
}

#button-label {
    margin: 20px auto;
}