
body {
    font-family: Georgia, sans-serif;
    height: 100vh;
    background-color: rgb(150, 148, 148);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-game {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    justify-content: center;
}

.turn {
    display: none;
}

.turn.active {
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 8px;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

button {
    padding: 5px;
    width: 110px;
    margin: 10px;
    background-color: beige;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: blanchedalmond;
}

/* Code graveyard */

/* #button-label {
    margin: 20px auto;
} */